#include <windows.h>
#include "resource3.h"

IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 170, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Calculator"
FONT 8, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON "OK", IDOK, 120, 7, 43, 15
PUSHBUTTON "Cancel", IDCANCEL, 120, 24, 43, 15
PUSHBUTTON "+", IDC_BTN1, 7, 49, 43, 15
PUSHBUTTON "-", IDC_BTN2, 7, 70, 43, 15
PUSHBUTTON "*", IDC_BTN3, 60, 49, 43, 15
PUSHBUTTON "/", IDC_BTN4, 60, 70, 43, 15
PUSHBUTTON "pow(x,2)", IDC_BTN5, 120, 70, 43, 15
EDITTEXT IDC_EDIT1,7,7,77,18, ES_AUTOHSCROLL
EDITTEXT IDC_EDIT2,7,24,77,18,ES_AUTOHSCROLL
EDITTEXT IDC_EDIT3,120,49,43,15,ES_AUTOHSCROLL
END
