#include <windows.h>
#include "resource3.h"

IDD_D DIALOG DISCARDABLE 0, 0, 100, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Result"
FONT 9, "MS Sans Serif"
BEGIN
EDITTEXT IDC_EDIT0,10,10,50,20, ES_AUTOHSCROLL
END
